<mat-toolbar color="primary">
  <!-- <span>Phone Book</span> -->
  <!-- <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button> -->
  <button mat-button routerLink="contacts" [routerLinkActive]="['active']">
    Contacts
    <mat-icon> contacts</mat-icon>
  </button>
  <button mat-button routerLink="calls" [routerLinkActive]="['active']">
    Calls
    <mat-icon> phone</mat-icon>
  </button>
  <button mat-button routerLink="companies" [routerLinkActive]="['active']">
    Companies
    <mat-icon> business</mat-icon>
  </button>
</mat-toolbar>
