<div class="company-input">
  <h3>Companies</h3>
  <div class="inputs" [style.maxHeight]="maxHeight">
    <div class="input" *ngFor="let id of personCompanies; let index = index">
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>
        <mat-select [(value)]="personCompanies[index]">
          <ng-container *ngFor="let company of companies; let i = index">
            <mat-option
              *ngIf="!personCompanies.includes(company.id) && id != company.id"
              [value]="company.id"
            >
              {{ company.name }}
            </mat-option>
            <mat-option *ngIf="id == company.id" [value]="id">
              {{ company.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <button
        class="remove-button"
        type="button"
        mat-icon-button
        aria-label="Remove company"
        (click)="removeCompanyField(index)"
      >
        <mat-icon> highlight_off</mat-icon>
      </button>
    </div>
  </div>
  <div class="add-button-container">
    <button
      type="button"
      mat-icon-button
      aria-label="Add company button"
      (click)="addPersonCompany()"
      [disabled]="personCompanies.length == companies.length"
    >
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
</div>
