<div class="image-input">
  <img
    mat-card-lg-image
    [src]="url ? url : isPerson ? 'assets/person.png' : 'assets/company.png'"
  />
  <mat-slide-toggle color="primary" [formControl]="isFileUpload"
    >Upload File</mat-slide-toggle
  >
  <button
    *ngIf="isFileUpload.value"
    class="upload-button"
    mat-raised-button
    uploadButton
    [uploadComplete]="onUploadComplete"
    [uploadOptions]="options"
    [uploader]="uploader"
  >
    Upload a file...
  </button>
  <mat-form-field *ngIf="!isFileUpload.value" appearance="outline">
    <mat-label>Image url</mat-label>
    <input
      matInput
      placeholder="Paste image url"
      [(ngModel)]="url"
      (input)="onUrlChange($event)"
    />
    <mat-error *ngIf="isValidUrl">Uncorrect url.</mat-error>
  </mat-form-field>
</div>
