<app-item-list
  header="Contacts"
  [itemIsSelected]="selectedPerson ? true : false"
  (onAdd)="addPersonDialog()"
  (onSave)="savePerson()"
  (onDelete)="selectedPerson && deletePerson(selectedPerson)"
>
  <mat-accordion items class="persons-accordion">
    <mat-expansion-panel
      [routerLinkActive]="['active']"
      *ngFor="let person of persons"
      class="item"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-description>
          <img [src]="person.image ? person.image : 'assets/person.png'" />
          <div class="person-item">
            <h3>
              {{ person.name }}
            </h3>
            <p>{{ person.phoneNumber }}</p>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-actions>
        <app-call-button [callee]="person"></app-call-button>
        <button mat-button color="accent">
          <mat-icon>message</mat-icon>Message
        </button>
        <button mat-button routerLink="/contacts/{{ person.id }}">
          <mat-icon>edit</mat-icon>Edit
        </button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <form item *ngIf="selectedPerson" [formGroup]="personForm">
    <app-image-input [(url)]="imageUrl" [isPerson]="true"></app-image-input>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <app-phone-input
      [controlName]="'phoneNumber'"
      [formGroup]="personForm"
    ></app-phone-input>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <app-companies-input
      [(personCompanies)]="selectedPerson!.companies!"
    ></app-companies-input>
  </form>
</app-item-list>
