:host {
  background-color: rgb(245, 245, 245);
  height: calc(100% - 64px);
  display: flex;
  align-items: center;
}

.contacts-container {
  height: 90%;
  width: 35%;
  overflow-y: auto;
  margin-left: 2.5%;

  &.bigger {
    height: 90%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    mat-panel-description {
      justify-content: space-between;
    }
    .add-button {
      bottom: calc(5% + 15px);
      right: calc(30% + 15px);
    }
  }
  .add-button {
    position: fixed;
    bottom: calc(5% + 15px);
    right: calc(62.5% + 15px);
  }

  mat-card-header {
    padding-bottom: 16px;
  }
  .margin-bt-16 {
    margin-bottom: 16px;
  }
  .persons-accordion {
    mat-expansion-panel {
      &.active {
        mat-expansion-panel-header {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      mat-expansion-panel-header {
        padding: 10px;
        .mat-expansion-panel-header-description {
          width: 100%;
          img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-right: 10px;
          }
          h3 {
            color: rgba(0, 0, 0, 0.87);
            font-size: 16px;
            font-weight: 500;
          }
          h3,
          p {
            margin: 0;
          }
        }
      }
      mat-card-actions {
        justify-content: space-between;
      }
    }
  }
}
.person-container {
  height: 90%;
  width: 57.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  mat-card-content {
    width: 50%;
    .form {
      display: flex;
      flex-wrap: wrap;
      .image {
        width: 100%;
        text-align: center;
        img {
          border-radius: 100%;
        }
      }
      mat-form-field {
        width: 100%;
        display: block;
      }
      .person-companies {
        width: 100%;
        .company-item {
          display: flex;
          .remove-button {
            margin-top: 4px;
            margin-left: 4px;
          }
        }
        .add-company-container {
          background-color: whitesmoke;
          text-align: center;
        }
      }
    }
  }
}
