<app-item-list
  header="Contacts"
  [itemIsSelected]="itemIsSelected"
  (onAdd)="addPerson($event)"
  (onSave)="savePerson()"
  (onDelete)="deletePerson()"
>
  <mat-accordion items class="persons-accordion">
    <mat-expansion-panel
      [routerLinkActive]="['active']"
      *ngFor="let person of persons"
      class="item"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-description>
          <img [src]="person.image" />
          <div class="person-item">
            <h3>
              {{ person.name }}
            </h3>
            <p>{{ person.phoneNumber }}</p>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-actions>
        <app-call-button [calle]="person"></app-call-button>
        <button mat-button color="accent">
          <mat-icon>message</mat-icon>Message
        </button>
        <button mat-button routerLink="/contacts/{{ person.id }}">
          <mat-icon>edit</mat-icon>Edit
        </button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <form item *ngIf="personForm" [formGroup]="personForm" class="form">
    <div class="image-input">
      <img mat-card-lg-image [src]="personForm.value.image" />
      <mat-form-field>
        <mat-label>Image url</mat-label>
        <input matInput formControlName="image" />
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
    <app-companies-input
      [(personCompanies)]="personCompanies"
    ></app-companies-input>
  </form>
</app-item-list>
