<button
  mat-icon-button
  class="remove-button"
  color="warn"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<form class="form" [formGroup]="companyForm">
  <div class="image-input">
    <img mat-card-lg-image [src]="companyForm.value.image" />
    <mat-form-field>
      <mat-label>Image url</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phoneNumber" />
  </mat-form-field>
</form>
<button class="save-button" mat-raised-button color="primary" (click)="add()">
  <mat-icon>save</mat-icon>Save
</button>
