<mat-card class="calls-container">
  <app-mat-card-header text="Calls"></app-mat-card-header>
  <mat-card-content>
    <div class="calls-groups">
      <mat-accordion
        *ngFor="let callsGroup of groupedCalls; let index = index"
        class="calls-accordion"
      >
        <p class="call-date">
          {{
            (callsGroup.date | date : "dd/MM/yyyy") ==
            (todayDate | date : "dd/MM/yyyy")
              ? "Today"
              : (callsGroup.date | date : "dd/MM/yyyy") ==
                (yesterdayDate | date : "dd/MM/yyyy")
              ? "Yesterday"
              : (callsGroup.date | date : "dd/MM/yyyy")
          }}
        </p>
        <mat-expansion-panel *ngFor="let call of callsGroup.calls">
          <mat-expansion-panel-header>
            <mat-panel-description>
              <img [src]="call.person.image" />
              <div class="person-texts">
                <h3>
                  {{ call.person.name }}
                </h3>
                <p>{{ call.person.phoneNumber }}</p>
              </div>
              <div class="icons">
                <div class="time">
                  <span class="call-time">
                    {{ call.date | date : "hh:mm a" }}
                  </span>
                  <span class="call-duration" *ngIf="call.duration != 0"
                    ><mat-icon>phone_in_talk</mat-icon>
                    {{
                      call.duration > 60 * 60
                        ? (call.duration / (60 * 60)
                            | floorPipe
                            | number : "2.0-0") + ":"
                        : ""
                    }}{{ call.duration * 1000 | date : "mm:ss" }}
                  </span>
                </div>
                <div class="info">
                  <mat-icon
                    color="{{ call.isCaller ? 'primary' : 'accent' }}"
                    >{{
                      call.isCaller ? "phone_callback" : "phone_forwarded"
                    }}</mat-icon
                  >
                  <mat-icon color="warn" *ngIf="call.duration == 0"
                    >phone_missed</mat-icon
                  >
                </div>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <app-call-button [calle]="call.person"></app-call-button>
            <button mat-button color="accent">
              <mat-icon>message</mat-icon>Message
            </button>
            <button mat-button routerLink="/contacts/{{ call.person.id }}">
              <mat-icon>edit</mat-icon>Edit
            </button>
          </mat-card-actions>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
