:host {
  background-color: rgb(245, 245, 245);
  height: calc(100% - 64px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.companies-container {
  height: 80%;
  width: 35%;
  &.bigger {
    height: 90%;
    width: 40%;
    text-align: right;
  }
  .content {
    overflow-y: auto;
    padding-top: 16px;
    .item {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }
      &.active {
        background: rgba(0, 0, 0, 0.1);
      }
      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
      .content {
        h3 {
          color: rgba(0, 0, 0, 0.87);
          font-size: 16px;
          font-weight: 500;
          margin: 0;
        }
      }
      .remove-button {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
.company-container {
  height: 80%;
  width: 60%;
  mat-card-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    .form {
      width: 50%;
      .image {
        width: 100%;
        text-align: center;
        img {
          border-radius: 100%;
          margin-bottom: 10px;
        }
      }
      mat-form-field {
        width: 100%;
      }
      mat-card-actions {
        justify-content: space-evenly;
      }
    }
  }
}
