<app-item-list
  header="Companies"
  [itemIsSelected]="itemIsSelected"
  (onAdd)="addCompany()"
  (onSave)="editCompany()"
  (onDelete)="selectedCompany && deleteCompany(selectedCompany)"
>
  <div items class="container">
    <mat-card
      class="item"
      [routerLinkActive]="['active']"
      *ngFor="let company of companies"
      routerLink="/companies/{{ company.id }}"
    >
      <img [src]="company.image ? company.image : 'assets/company.png'" />
      <div class="content">
        <h3>
          {{ company.name }}
        </h3>
      </div>
      <button
        mat-icon-button
        class="remove-button"
        color="warn"
        (click)="deleteCompany(company, $event)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card>
  </div>

  <form item *ngIf="companyForm" [formGroup]="companyForm">
    <app-image-input [(url)]="imageUrl"></app-image-input>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>
  </form>
</app-item-list>
