<mat-card
  class="main-container"
  *ngIf="!itemIsSelected || screenWidth > 768"
  [ngClass]="{ bigger: !itemIsSelected }"
>
  <app-mat-card-header
    *ngIf="header"
    [text]="header"
    align="left"
  ></app-mat-card-header>
  <mat-card-content class="content">
    <ng-content select="[items]"></ng-content>
  </mat-card-content>
  <button mat-fab color="primary" class="add-button" (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>
<mat-card
  *ngIf="itemIsSelected"
  [ngClass]="{ mobile: screenWidth <= 768 }"
  class="right-container"
>
  <app-mat-card-header
    *ngIf="header"
    [text]="header + ' Edit'"
  ></app-mat-card-header>
  <button
    mat-icon-button
    color="warn"
    class="close-button"
    *ngIf="itemIsSelected"
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-content>
    <ng-content select="[item]"></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>Delete
    </button>
    <button mat-raised-button color="primary" (click)="save()">
      <mat-icon>save</mat-icon>Save
    </button>
  </mat-card-actions>
</mat-card>
