:host {
  overflow: hidden;
  display: block;
  height: 100%;
}
.remove-button {
  position: absolute;
  top: 0;
  right: 0;
}
form {
  .form {
    overflow-y: auto;
    padding: 20px;
    .image-input {
      text-align: center;
      img {
        border-radius: 100%;
        margin-bottom: 10px;
      }
    }
    mat-form-field {
      width: 100%;
    }
  }
  .save-button {
    width: 100%;
    height: 40px;
    border-radius: 0;
    align-self: flex-end;
  }
}
