<button
  mat-icon-button
  class="remove-button"
  color="warn"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<form [formGroup]="personForm" (ngSubmit)="add()">
  <div class="form">
    <div class="image-input">
      <img
        mat-card-lg-image
        [src]="
          personForm.value.image ? personForm.value.image : 'assets/person.png'
        "
      />
      <mat-slide-toggle formControlName="isFileUpload"
        >Upload File</mat-slide-toggle
      >
      <button
        *ngIf="personForm.value.isFileUpload"
        mat-raised-button
        uploadButton
        [uploadComplete]="onUploadComplete"
        [uploadOptions]="options"
        [uploader]="uploader"
      >
        Upload a file...
      </button>
      <mat-form-field
        *ngIf="!personForm.value.isFileUpload"
        appearance="outline"
      >
        <mat-label>Image url</mat-label>
        <input
          matInput
          placeholder="Image url or upload file"
          formControlName="image"
        />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>
    <app-companies-input
      [(personCompanies)]="personCompanies"
    ></app-companies-input>
  </div>
  <button class="save-button" type="submit" mat-raised-button color="primary">
    <mat-icon>save</mat-icon>Save
  </button>
</form>
