<button
  mat-icon-button
  class="remove-button"
  color="warn"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<form [formGroup]="personForm" (ngSubmit)="add()">
  <div class="form">
    <app-image-input [(url)]="imageUrl" [isPerson]="true"></app-image-input>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input
        matInput
        (input)="onPhoneFieldChange($event)"
        formControlName="phoneNumber"
      />
      <mat-error
        *ngIf="
          personForm.invalid &&
          personForm.controls.phoneNumber?.errors?.['required']
        "
        >Phone number is required</mat-error
      >
      <mat-error
        *ngIf="
          personForm.invalid && personForm.controls.phoneNumber?.errors?.['pattern']
        "
        >Invalid phone number format</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <app-companies-input
      [(personCompanies)]="personCompanies"
    ></app-companies-input>
  </div>
  <button class="save-button" type="submit" mat-raised-button color="primary">
    <mat-icon>save</mat-icon>Save
  </button>
</form>
